{
    "presets": ["module:metro-react-native-babel-preset"],
    "plugins": [
        [
            "module-resolver", {
                "alias": {
                    "#app": "./app",
                    "#containers": "./app/containers",
                    "#utility": "./app/util/utility",
                    "#extension": "./app/extensions",
                    "#assets": "./app/assets"
                }
            }
        ]
    ]
}